<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <%
=begin%>
 <div class="field">
    <%= form.label :ending %>
    <%= form.text_field :ending, class: 'form-control' %>
  </div> 
<%
=end%>


  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>

  <%= form.text_field :users_id, id: :index_links_on_users_id, class: 'form-control', value: current_user.id %>


  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
  
<% end %>
