
<h1 class="display-4 mt-4 pb-4">KOMPAKTED LINKS</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Url</th>
      <th scope="col">Name</th>
      <th scope="col">Shortened url</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.url %></td>
        <td><%= link.title %></td>
        <td><a href="<%= link.short %>" target="_blank"><%= link.short %></a></td>
        <td><%= link.counter %></td>

        <td><%= link_to 'Show', link, class: 'btn' %></td>
        <td><%= link_to 'Edit', edit_link_path(link), class: 'btn' %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <%= link_to 'New Link', new_link_path, class: 'btn btn-primary' %>
