
<li>
  <strong>Title:</strong>
  <%= @link.title %>
</li>

<li>
  <strong>ending:</strong>
  <%= @link.ending %>
</li>

<li>
  <strong>Url:</strong>
  <%= @link.url %>
</li>

<%= link_to 'Edit', edit_link_path(@link), class: 'btn'  %> |
<%= link_to 'Back', links_path,  class: 'btn'  %>
  